.devise-form {
  border-radius: 5px;
  box-shadow: 2px 2px 10px grey;
}

.form-header {
  padding: 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: $secondary;
  color: $light-gray;
}
.form-title {
  font-size: 1.5rem;
  margin-bottom: 0;
}
.form-body {
  padding: 1rem;
}
.form-footer {
  padding: 0.75rem;
  border-top: 1px solid $light-gray;
  background-color: $white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-devise {
  margin-top: 0.5rem;
  width: 100%;
}

.select2-search__field {
  border-radius: 5px;
  &:focus{
    outline-color: $primary;
  }
}

.image_field {
  margin: 0 1em;
  label {
    background-color: $light-gray;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
}

.field {
  padding-bottom: 0.5rem;

  label {
    padding-left: 0.3rem;
  }

  input {
    border-radius: 5px;
    border: 1px solid;
    &:focus{
      outline-color: $primary;
    }
  }
  textarea {
    border-radius: 5px;
    border: 1px solid;
    &:focus{
      outline-color: $primary;
    }
  }
  span {
    border-radius: 5px;
    &:focus{
      outline-color: $primary;
    }
  }

  .field_with_errors {
    input {
      border-color: $danger;
      &:focus{
        outline-color: $danger;
      }
    }
  }
}
