.ingredient {
  width: 200px;
  margin: 1em auto;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 5px 5px 8px grey;
  &:hover {
    -webkit-filter: brightness(70%);
    transition: .2s;
  }
  a {
    color: black;
    text-decoration: none;
  }
}
.ingredient_image{
  text-align: center;
  img {
    vertical-align: middle;
    border-radius: 5px;
  }
}
.ingredient_name{
  padding: 0.5em;
}
.ingredient_quantity {
  margin-top: 1em;
}

.user_ingredient_info {
  padding-top: 1em;
  .expiration_date {
    margin-bottom: 1em;
    input {
      width: 150px;
    }
  }
  .quantity input {
    width: 120px;
  }
}
