body {
  margin-left: 250px !important;
  transition: .5s;
}
nav {
  box-shadow: 0px 0px 5px;
}
.right {
  position: absolute;
  right: 1em;
}
.expanded{
  margin-left: 0px !important;
}
.sidebar-toggler{
  border: none;
  background: transparent;
}
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 1em;
  transition: .5s;
  box-shadow: 1px 0px 5px;
}
.hidden-sidebar{
  left: -250px !important;
}
// .sidebar a {
  // padding: 8px 8px 8px 32px;
  // text-decoration: none;
  // font-size: 25px;
  // color: #818181;
  // display: block;
// }

.btn-ingredients {
  background-color: $teal;
  position: absolute;
  bottom: 1em;
  width: 90%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%);
}
