.nav-shadow {
  box-shadow: 0px 0px 5px;
}
.navbar-brand {
  margin-left: 1rem;
}
.right {
  position: absolute;
  right: 1em;
}
.expanded{
  margin-left: 0px !important;
}
.sidebar-toggler{
  border: none;
  background: transparent;
  margin-left: 1rem;
}
