.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1025;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: .5s;
  box-shadow: 1px 0px 5px;
}
.hidden-sidebar{
  left: -250px !important;
}

.nav-tabs .nav-link{
  background-color: $secondary;
  color: $light-gray;
  border: none;
  &.active{
    background-color: $secondary;
    color: $primary;
    border-bottom: 3px solid;
  }
}
.tab-content {
  height: 85%;
  overflow-y: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-ingredients {
  background-color: $primary;
  color: white;
  position: absolute;
  bottom: 1em;
  width: 90%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%);
}
.row_user_ingredient {
  display: table;
  background-color: $light-gray;
  border-radius: 5px;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-bottom: 0.5rem;
  &:hover {
    transition: .25s;
    background-color: $gray-400;
  }
}
.user_ingredient {
  display: table-cell;
  a {
    color: black;
    text-decoration: none;
  }
  .name {
    border-bottom: 1px solid;
  }
}
.fridge {
  display: table-cell;
  padding: unset;
  vertical-align: middle;
  a{
    &:hover {
      color: $primary;
    }
  }
}
.trash {
  display: table-cell;
  padding: unset;
  vertical-align: middle;
  a{
    &:hover {
      color: $danger;
    }
  }
}
