/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'jquery-ui';
// Graphical variables
// @import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";

// CSS partials
@import "components/index";

body {
  margin-left: 250px !important;
  transition: .5s;

  .content{
    padding: 1em 10em;
  }
}

nav {
    text-align:center;
}
nav ul {
    display:inline-block;
}
nav li {
    display:inline-block;
}
.pagination{
  margin: 1em 0 0 0;
  display:inline-block;
}
.page-item.active{
  .page-link{
    background-color: $primary;
    border-color: $primary;
  }
}
.page-link{
  color: $primary;
  &:hover{
    color: $primary;
    background-color: $gray-300;
    transition: .25s;
  }
}

.bg-primary {
  background-color: $primary;
}
.bg-secondary {
  background-color: $secondary;
}
.font-white {
  color: white;
}

.errors {
  border-radius: 5px;
  background-color: #e980744D;
  border: 1px solid $danger;
  padding: 0.5rem;
}
.success {
  border-radius: 5px;
  background-color: #21A0A04D;
  border: 1px solid $primary;
  padding: 0.5rem;
}
.center-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.subtext {
  font-size: 0.9rem;
  font-style: italic;
  margin-bottom: 0;
}
#messages {
  cursor: pointer;
  p.errors{
    &:hover{
      background-color: $danger;
      transition: .2s;
    }
  }
  p.success{
    &:hover{
      background-color: $primary;
      transition: .2s;
    }
  }
}
.text-center {
  text-align: center;
}
.fs-s {
  font-size: 0.9rem;
}
.fs-l {
  font-size: 1.5rem;
}
.fs-xl {
  font-size: 1.7rem;
}
