// Place all the styles related to the Menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.menu{
  background-color: $white;
  border-radius: 5px;
  box-shadow: 5px 5px 8px grey;
}

.menu_recipes_images{
  padding: 0 0 1em 0;
  text-align: center;
  img{
    width: 100px;
    margin: 0 1em;
    vertical-align: middle;
    border-radius: 5px;
    &:hover {
      -webkit-filter: brightness(70%);
      transition: .2s;
    }
  }
}

.menu_info{
  padding: 1em;
}

.menu_content{
  padding: 1rem;
  margin: 0 !important;
  border-bottom: 2px solid #2c3e4d;
  border-left: 2px solid #2c3e4d;
  border-right: 2px solid #2c3e4d;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav-menu .nav-link {
  border-radius: 0;
}
