p
  | Hola #{@resource.email}!
p Alguien ha solicitado un enlace para cambiar tu contraseña. Puedes hacerlo a través del enlace a continuación.
p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token)
p Si no has sido tu, por favor, ignora este email.
p Tu contraseña no cambiará hasta que accedas en el link anterior y crees una nueva.
